/* body{
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}


.table,th,td{
    width: 800px;
    margin: auto;
    font-size: 30px;
    padding: 20px;
    text-align: center;
    border: 2px solid  #000;
    border-collapse: collapse;
} */
